---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Background3D from '../components/Background3D.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Background3D /><Header />
		<main>
			<h1>Hey, welcome to my website!</h1>
			<p>
				I am currently 20 years old, a CS student at ETH Zurich and 
				fascinated by math, coding and theoretical problems in cs.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
